<hr />
<strong>Disclaimer::</strong>
Information provided here is not compiled, released, distributed, or
overseen by the Board of Acupuncture and Oriental Medicine. It is
<strong>NOT</strong> provided by the Regulation and Licensing
Department or any other state government agency or department. It is
provided as a service to the acupuncture profession by fellow
professionals and is provided <strong>as is</strong> with no warranty
or guarantee of correctness or fitness for any particular purpose.
<hr />
